doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='stylesheet', href='stylesheets/styles.css')
    script#www-widgetapi-script(type='text/javascript', src='https://s.ytimg.com/yts/jsbin/www-widgetapi-vflY6gPjD/www-widgetapi.js', async='')
    script(src='https://www.youtube.com/iframe_api')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='javascripts/perfilasp.js')
    script(src='javascripts/cv.js')
    script(src='javascripts/editCv.js')
    script(src='javascripts/jspdf.min.js')
    title Employ.me
  body
    header.profile-header
      img.logo(src='images/logo.png', alt='Logo')
      form.search(action='')
        input.search-input(type='text', placeholder='Buscar')
        button.search-btn
          svg.search-icon
            use(xlink:href='images/sprite.svg#icon-search')
      nav.header-navigation
        .header-navigation-icon-box
          svg.header-navigation-icon
            use(xlink:href='images/sprite.svg#icon-comments')
          span.header-navigation-notification 9
        .header-navigation-icon-box
          svg.header-navigation-icon
            use(xlink:href='images/sprite.svg#icon-sign-in')
    .container
      nav.sidebar
        ul.sidebar-navigation
          li.sidebar-navigation-item
            a.sidebar-navigation-link(href='/perfilasp')
              svg.sidebar-navigation-icon
                use(xlink:href='images/sprite.svg#icon-user')
              span.sidebar-navigation-description Perfil
          li.sidebar-navigation-item
            a.sidebar-navigation-link(href='/asp-interested')
              svg.sidebar-navigation-icon
                use(xlink:href='images/sprite.svg#icon-heart')
              span.sidebar-navigation-description Interesados
          li.sidebar-navigation-item
            a.sidebar-navigation-link(href='/asp-cv')
              svg.sidebar-navigation-icon
                use(xlink:href='images/sprite.svg#icon-address-card')
              span.sidebar-navigation-description Curriculum
          li.sidebar-navigation-item
            a.sidebar-navigation-link(href='/cerrarsesion')
              svg.sidebar-navigation-icon
                use(xlink:href='images/sprite.svg#icon-sign-in')
              span.sidebar-navigation-description Salir
      main.portfolio
        .portfolio-information-users
          .information-photo-container
            img#img.information-photo
          h1#name.user-name #{nom}
          .information-map
        .portfolio-information-self
          .information-data-field
            svg.information-data-icon
              use(xlink:href='images/sprite.svg#icon-mobile')
            span #{num}
          .information-data-field
            svg.information-data-icon
              use(xlink:href='images/sprite.svg#icon-envelope')
            span#correo #{email}
          .information-data-field
            svg.information-data-icon
              use(xlink:href='images/sprite.svg#icon-birthday-cake')
            span #{fn}
          .information-data-field
            svg.information-data-icon
              use(xlink:href='images/sprite.svg#icon-male')
            span Sexo: #{sex}
          a.information-edit-btn
            svg.information-data-icon
              use(xlink:href='images/sprite.svg#icon-pencil ')
        .cv-container
          .cv-information
            .left-divided
              .information-row
                h1.heading-primary Descripcion:
                textarea#desc.form-textarea(name='descripcion', maxlength='1000', placeholder='Descripción...')
                input#btndesc.btn-blue.btn.btn-cv(type='submit', value='Guardar')
              .information-row
                h1.heading-primary Idiomas:
                div#idiomas
                select#lenguage.form-input.form-input-dark
                    option.form-input.form-input-dark(value='0') Idioma
                    option.form-input.form-input-dark(value='17') Inglés
                    option.form-input.form-input-dark(value='18') Francés
                    option.form-input.form-input-dark(value='19') Alemán
                    option.form-input.form-input-dark(value='20') Portugués.
                input#botn.btn-blue.btn.btn-cv(type='button', value='Agregar')
              .information-row
                h1.heading-primary Proyectos:
                div#projects
                input#projectName.form-input.form-input-dark(type='text', placeholder='Nombre del proyecto')
                input#companyName.form-input.form-input-dark(type='text', placeholder='Nombre de la empresa')
                input#position.form-input.form-input-dark(type='text', placeholder='Puesto ocupado')
                input#pBtn.btn-blue.btn.btn-cv(type='button', value='Agregar')
              .information-row
                h1.heading-primary Referencias: (Opcional)
                div#refes
                input#refName.form-input.form-input-dark(type='text', placeholder='Nombre De la persona')
                input#telRef.form-input.form-input-dark(type='text', placeholder='Número telefónico')
                input#emailRef.form-input.form-input-dark(type='text', placeholder='Correo Electrónico')
                input#refBtn.btn-blue.btn.btn-cv(type='button', value='Agregar')
              .information-row
                h1.heading-primary Herramientas que usas:
                div#soft
                select#softName.form-input.form-input-dark
                    option.form-input.form-input-dark(value='0') Software
                    option.form-input.form-input-dark(value='11') Excel
                    option.form-input.form-input-dark(value='12') MySQL
                    option.form-input.form-input-dark(value='13') MongoDB
                    option.form-input.form-input-dark(value='14') Node JS
                    option.form-input.form-input-dark(value='15') Angular
                    option.form-input.form-input-dark(value='16') Otro
                input#softPor.form-input.form-input-dark(type='text', placeholder='Porcentaje De Dominio')
                input#softBtn.btn-blue.btn.btn-cv(type='button', value='Agregar')
            .right-divided
              .information-row
                form.start-sign-up(action='/asp-cv', method='post')
              .information-row
                h1.heading-primary Direccion
                textarea.form-textarea(name='descripcion', maxlength='1000', placeholder='Dirección')
                input#DirBtn.btn-blue.btn.btn-cv(type='button', value='Guardar')
          input#cvBtn.btn-blue.btn.btn-cv(type='button', value='Generar curriculum')
